@import url("https://fonts.googleapis.com/css?family=Muli");

.container {
  position: absolute;
  font-family: "Muli", Helvetica, sans-serif;
  width: 1rem;
  height: 1.5rem;
  left: 50%;
  top: 50%;
  
}

.text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  display: inline-block;
  position: absolute;
  bottom: 0;
  -webkit-animation: text 1050ms ease-in infinite;
          animation: text 1050ms ease-in infinite;
  transform: translatez(0);
}
.textW {
  left: 0rem;
  transform: translate3d(0, -4rem, 0);
  -webkit-animation: text-w 1050ms ease-in infinite;
          animation: text-w 1050ms ease-in infinite;
}
.textA {
  left: 1.4rem;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.textV {
  left: 2.6rem;
  -webkit-animation-delay: 230ms;
          animation-delay: 230ms;
}
.textE {
  left: 3.8rem;
  -webkit-animation-delay: 310ms;
          animation-delay: 310ms;
}

.coast {
  position: absolute;
  left: 0rem;
  bottom: -1.5rem;
  width: 7.2rem;
  height: 2.2rem;
  display: inline-block;
  -webkit-animation: coast 2100ms linear infinite;
          animation: coast 2100ms linear infinite;
  transform: translateZ(0);
}

.waveRelWrap {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1rem;
  perspective-origin: 0%, 50%;
}

.wave {
  position: absolute;
  width: 1rem;
  height: 0.6rem;
  border-radius: 40%;
  background: radial-gradient(ellipse at center, #74f1fc 0%, #32e6ff 73%, #15c7fa 100%);
  display: inline-block;
  -webkit-animation: wave 2100ms linear infinite;
          animation: wave 2100ms linear infinite;
  will-change: width;
  transform: translateZ(0) scale(0);
}

.delay {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

@-webkit-keyframes text {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, -1rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes text {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, -0.5rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes text-w {
  0% {
    transform: translate3d(0, -0.5rem, 0);
  }
  38% {
    transform: translate3d(0, -0.5rem, 0);
  }
  69% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -0.5rem, 0);
  }
}
@keyframes text-w {
  0% {
    transform: translate3d(0, -0.5rem, 0);
  }
  38% {
    transform: translate3d(0, -0.5rem, 0);
  }
  69% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -0.5rem, 0);
  }
}
@-webkit-keyframes coast {
  0% {
    transform: translate3d(0, 0, 0);
  }
  23% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(4rem, 0, 0);
  }
  100% {
    transform: translate3d(4rem, 0, 0);
  }
}
@keyframes coast {
  0% {
    transform: translate3d(0, 0, 0);
  }
  23% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(4.5rem, 0, 0);
  }
  100% {
    transform: translate3d(4rem, 0, 0);
  }
}
@-webkit-keyframes wave {
    0% {
      transform: scale(0);
      width: 0.6rem;
    }
    10% {
      transform: scale(1);
    }
    23% {
      width: 0.7rem;
    }
    32% {
      width: 1rem;
    }
    42% {
      width: 1.5rem;
      transform: rotateY(0deg) scale(1, 1);
    }
    51% {
      transform: rotateY(20deg) scale(0.2, 0.6);
    }
    52% {
      transform: rotateY(20deg) scale(0);
    }
    100% {
      transform: rotateY(20deg) scale(0);
    }
  }
  @keyframes wave {
    0% {
      transform: scale(0);
      width: 0.4rem;
    }
    10% {
      transform: scale(1);
    }
    23% {
      width: 0.5rem;
    }
    32% {
      width: 1rem;
    }
    42% {
      width: 1.2rem;
      transform: rotateY(0deg) scale(1, 1);
    }
    51% {
      transform: rotateY(20deg) scale(0.6, 0.2);
    }
    52% {
      transform: rotateY(20deg) scale(0);
    }
    100% {
      transform: rotateY(20deg) scale(0);
    }
  }